<% provide(:title, "Users") %>
<h1>Users</h1>

<% @users.each do |u| %>
  <div class="user-listing">
    <h4><%= link_to (u.name), u %></h4>
    <p><%= link_to "Edit Profile", edit_user_path(u.id) %></p>
    <p><%= link_to "Delete", u, method: :delete %></p>
  </div>
<% end %>