@import "bootstrap-sprockets";
@import "bootstrap";

.nav-pills {
  float: right;
}

header {
  .navbar {
    padding: 20px;
    border: 1px solid black;
  }

  #logo {
    float: left;
    font-size: 1.5em;
  }
}

h1 {
  text-align: center;
}

input {
  margin-bottom: 20px;
}

.user-listing {
  border: 1px solid black;
  margin: 20px;
  padding-left: 10px;
}

footer {
  border-top: 1px solid black;
  padding: 0;
  margin: 20px 0;
}