<footer class="container">
  <div class="navbar">
    <small>Joe Reich, 2015</small>
    <ul class="nav nav-pills">
      <li><%= link_to "Thing1", '#' %></li>
      <li><%= link_to "Thing2", '#' %></li>
      <li><%= link_to "Thing3", '#' %></li>
    </ul>
  </div>
</footer>